<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <form method="post">
            <input type="text" name="Title" placeholder="Name" />
            <input type="text" name="Description" placeholder="Description" />
            <input type="text" name="Priority" placeholder="Priority" />
            <input type="text" name="Status" placeholder="Status" />
            <input type="text" name="Category" placeholder="Category" />
            <input type="text" name="Url" placeholder="External URL" />
            <input type="submit" value="Create" />
        </form>
    </div>
</body>
</html>
