<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @if (Model != null)
        {
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Priority</th>
                </tr>
            <</table>
                foreach (var item in Model)
                {
                <table>
                    <tr>
                        <td>@Html.Encode(item.Title)</td>
                        <td>@Html.Encode(item.Description)</td>
                        <td>@Html.Encode(item.Priority)</td>
                    </tr>
                </table>
                }
                }

</div>
</body>
</html>
