<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1 class="title">Register</h1>
    <div class="container">
        <form method="post">
            <label>Email</label>
            <input type="email" name="Email" required/>
            <label>Password</label>
            <input type="password" name="Password" required/>
            <input type="submit" value="REGISTER" class="Input_Button"/>
            
            <h1>@ViewBag.ErrorMessage</h1>
        </form>
    </div>
</body>
</html>