<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <form method="post">
            <input type="text" name="Email" placeholder="Email" />
            <input type="password" name="Password" placeholder="Password" />
            <input type="submit" value="Register" class="Input_Button"/>
        </form>
    </div>
</body>
</html>