<html>
<head>

</head>
<body>
    <form method="post">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="passwordvar" placeholder="Re-Enter Password" />
        <input type="submit" value="Register" />
    </form>
</body>
</html>