
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/MainStyle.css"/>
    <title>RazorTech</title>
</head>
<body>
    <div>
        <ul>
            <li class="link"><a href="/Razor/Login" class="navbar-link">Login</a></li>
            <li class="link"><a href="/Razor/Register" class="navbar-link">Register</a></li>
            <li class="link"><a href="/Razor/Index" class="navbar-link">Technologies</a></li>
            <content><input name="Search" placeholder="Search" id="Search"/></content>
        </ul>
    </div>
    <div class="content">
            @RenderBody()
    </div>
</body>
</html>
