
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/MainStyle.css"/>
    <title>RazorTech</title>
</head>
<body>
    <div>
        <ul>
            <li class="link"><a href="/Razor/Login">Login</a></li>
            <li class="link"><a href="/Razor/Register">Register</a></li>
            <li class="link"><a href="/Razor/Index">Technologies</a></li>
        </ul>
    </div>
    <div class="content">
            @RenderBody()
    </div>
</body>
</html>
