
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorTech</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/Razor/Login">Login</a></li>
            <li><a href="/Razor/Register">Register</a></li>
            <li><a href="/Razor/Index">Index</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>
