body {
    background-color: #271e3b;
    padding: 0;
    margin: 0;
}
.content {
    margin-left: 20%;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #1e162d;
    height: 100%;
    position: fixed;
    overflow: auto;
    border-right: solid 2px;
    border-color: #f15a5d;
}
    li {
        color: #f1f1f1;
        padding: 10px;
        background-color: #1e162d;
        margin-top: 20px;
    }
        li:hover {
            background-color: #f15a5d;
        }
    a {
        color: #f1f1f1;
        display: block;
        font-family: "Segoe UI";
        text-decoration: none;
    }
    #search{
        width: 80%;
        padding: 5px;
        margin-top: 10px;
    }
    #Button {
        color: #f1f1f1;
        border: solid 2px;
        border-color: #f15a5d;
        padding: 5px;
        width: 30%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        font-family: "Segoe UI";
    }
        #Button:hover {
            color: #f15a5d;
        }
.container {
    text-align: center;
    border-top: solid 2px;
    border-color: #f15a5d;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
    input {
        display: block;
        border: solid 2px;
        background-color: #1e162d;
        border-color: #f15a5d;
        color: #f1f1f1;
        width: 70%;
        margin: 0 auto;
        padding: 5px;
        margin-bottom: 10px;
        font-family: "Segoe UI";
        border-radius: 3px;
    }
    textarea {
        color: #f1f1f1;
        background-color: #1e162d;
        border: solid 2px;
        border-color: #f15a5d;
        margin-bottom: 10px;
        width: 70%;
        padding: 5px;
        font-family: "Segoe UI";
        border-radius: 3px;
    }
    select {
        color: #f1f1f1;
        background-color: #1e162d;
        border: solid 2px;
        border-color: #f15a5d;
        margin-bottom: 10px;
        width: 70%;
        padding: 5px;
        font-family: "Segoe UI";
        border-radius: 3px;
    }
        .Input_Button {
            width: 30%;
            border-color: #f15a5d;
            background-color: #271e3b;
            font: italic;
            border-radius: 3px;
        }
            .Input_Button:hover {
                color: #f15a5d;
            }
    label{
        color: #f1f1f1;
        display: block;
        text-align: left;
        margin-left: 15%;
        font-family: "Segoe UI";
        padding: 5px;
    }
.title {
    color: #f1f1f1;
    font-family: "Segoe UI";
    text-align: center;
}
#Tile {
    width: 80%;
    border-top: solid 2px;
    border-color: #f15a5d;
    background-color: #1e162d;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10%;
    padding: 5px;
    text-align: left;
    display: inline-block;
}
#TileTitle {
    color: #f1f1f1;
    padding: 0;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Segoe UI";
}
#TileDescription {
    color: #f1f1f1;
    padding: 0;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Segoe UI";
}
#TileElements {
    display: inline-block;
    color: #f1f1f1;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    font-family: "Segoe UI";
}
#TileUrl {
    color: #f1f1f1;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Segoe UI";
}
p{
    color: #f1f1f1;
    font-family: "Segoe UI";
}